@import "tailwindcss";


* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #060606;
  color: aliceblue;
}


.cards::-webkit-scrollbar {
  display: none;
}
